
 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(104, 75, 75);
}

.sidebar {
  background-color: #e5e5f7;
  /* opacity: 0.8; */
  background-image:  linear-gradient(30deg, #79838b 12%, transparent 12.5%, transparent 87%, #79838b 87.5%, #79838b), linear-gradient(150deg, #79838b 12%, transparent 12.5%, transparent 87%, #79838b 87.5%, #79838b), linear-gradient(30deg, #79838b 12%, transparent 12.5%, transparent 87%, #79838b 87.5%, #79838b), linear-gradient(150deg, #79838b 12%, transparent 12.5%, transparent 87%, #79838b 87.5%, #79838b), linear-gradient(60deg, #79838b77 25%, transparent 25.5%, transparent 75%, #79838b77 75%, #79838b77), linear-gradient(60deg, #79838b77 25%, transparent 25.5%, transparent 75%, #79838b77 75%, #79838b77);
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}

/* .App-link {
  color: #61dafb;
}  */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
