@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=El+Messiri&family=Hammersmith+One&family=Uncial+Antiqua&family=Stick+No+Bills&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Stick+No+Bills&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Bree+Serif&family=Righteous&family=Syncopate:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


.bg_slider {
    --initialTextColor: rgba(21, 8, 8, 0.955);
    --slideTextColor: rgba(248, 243, 243, 0.981);

    --initialBgColor: #27283800;
    --slideBgColor: rgb(73, 99, 225);

    color: var(--initialTextColor);

    background-image: linear-gradient(90deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 50%,
        var(--slideBgColor) 50%,
        var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
      color .2s linear;
    transition-delay: 0.0s, 0.15s;
  }

  .bg_slider:hover {
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -100% 100%;
  }

  /* .popover {
    animation: name duration timing-function delay iteration-count direction fill-mode;
  } */

  

/* @imp
ort url("~@flaticon/flaticon-uicons/css/all/all"); */

/* @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap') */
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap') */
/* @import url('https://fonts.googleapis.com/css2?display=swap') */

@tailwind base;
@tailwind components;
@tailwind utilities;

.box1 {
  width: 100px;
  height: 50px;
  /* margin: 50px auto; */
  border: 1px solid #000000;
  /* padding: 20px; */
  text-align: center;
  /* font-weight: 900; */
  color: #00bfb6;
  font-family: arial;
  position: relative;
}

.sb8:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 24px;
  bottom: -13px;
}

.sb8:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -23px;
}