@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=El+Messiri&family=Hammersmith+One&family=Uncial+Antiqua&family=Stick+No+Bills&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Stick+No+Bills&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Bree+Serif&family=Righteous&family=Syncopate:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


.bg_slider {
    --initialTextColor: rgba(21, 8, 8, 0.955);
    --slideTextColor: #222fddd8;

    --initialBgColor: #27283800;
    --slideBgColor: rgb(48, 44, 44);

    color: var(--initialTextColor);

    background-image: linear-gradient(90deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 50%,
        var(--slideBgColor) 50%,
        var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
      color .2s linear;
    transition-delay: 0.0s, 0.15s;
  }

  .bg_slider:hover {
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -100% 100%;
  }
/* @import url("~@flaticon/flaticon-uicons/css/all/all"); */

/* @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap') */
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap') */
/* @import url('https://fonts.googleapis.com/css2?display=swap') */

@tailwind base;
@tailwind components;
@tailwind utilities;